.main-content {
    margin-top: 4rem;
    margin-left: 16rem;
    /*background-color: #881414;*/
    height: 10rem;
}

body {
    background-color: #222831;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 2rem;
    color: white;
}

li {
    list-style-type: none;
}


h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    margin: auto;
    text-align: left;
    border-collapse: collapse;
}

.table-div {
    font-size: 1rem;
    background-color: #18181b;
    padding: 1rem;
    border-radius: 0.8rem;
    width: 50%;
    margin: auto;
    min-width: 700px;

}

thead {
    background-color: #222831;
    border-radius: 1rem;
    color: #c1c1c1;
    margin-bottom: 5rem;
}

thead th {
    padding: 1rem;
}

th:first-child {
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

tbody tr td {
    padding: 1rem;
}

th:last-child {
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}


@media screen and (min-width: 1024px) {
    .table-div {
        width: 50%;
        margin: auto;
    }
}

@media screen and (max-width: 1535px) {
    .table-div {
        width: 80%;
        margin: auto;
    }
}


#id_loan_amount, #id_phone, #id_name, #id_email, #id_paid_amount , #id_payment_amount{

    width: 100%;
    color: rgb(36, 35, 42);
    font-size: 16px;
    line-height: 20px;
    min-height: 28px;
    border-radius: 4px;
    padding: 8px 16px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0 1px 3px, rgb(0 0 0 / 24%) 0 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;


    :focus {
        border: 2px solid rgb(124, 138, 255);
    }

}

