{% extends "base.html" %}
{% block title %}Clients{% endblock %}

{% block content %}
    {#    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-black">#}
    {#        Clients List</h1>#}

    <div class="w-full flex justify-center pt-24">
        <div class="flex w-1/2 justify-center items-center">
            <div class="w-1/2 flex-1 ">
                <form>
                    <div class="relative">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="absolute left-2.5 top-2.5 h-4 w-4 text-gray-500 dark:text-gray-400"
                        >
                            <circle cx="11" cy="11" r="8"></circle>
                            <path d="m21 21-4.3-4.3"></path>
                        </svg>
                        <input
                                class="flex h-10 pl-8 border border-gray-700 rounded-lg outline-none md:w-2/3 lg:w-1/3 dark:bg-[#18181b]"
                                placeholder="Search clients..."
                                type="search"
                        />
                    </div>
                </form>
            </div>
            <div>
                <button class="bg-gray-700 hover:bg-black text-white py-1 px-3 rounded ">
                    <a href="{% url 'create' %}">Add Client</a>
                </button>
            </div>
        </div>
    </div>

    <div class="pt-10 flex flex-col items-center justify-between">


        <div class="table-div">
            <table>
                <thead class="bg-gray-700">
                <th>Name</th>
                <th>Amount Due</th>
                <th>Settlement</th>
                <th>View Details</th>
                </thead>
                {% for client in clients %}
                    <tbody>
                    <tr>
                        <td>{{ client.name }}</td>
                        <td class="text-[#C40C0C] font-bold">
                            {{ client.remaining }}
                        </td>
                        <td>
                            <div>
                                <button class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded">
                                    <a href="/">Add Payment</a>
                                </button>
                            </div>
                        </td>
                        <td>
                            <div>
                                <button class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded">
                                    <a href="{% url "client" pk=client.id %}">Details</a>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="w-1/2 flex justify-between pt-24">
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"
                   class="bg-gray-700 hover:bg-black text-white py-1 px-3 rounded">Next</a>
            {% endif %}
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"
                   class="bg-gray-700 hover:bg-black text-white py-1 px-3 rounded">Previous</a>
            {% endif %}
        </div>
    </div>









{% endblock %}